<div class="text-center py-32 bg-gradient-to-b from-white to-gray-100">
    <div class="container">
        <div class="text-accent uppercase text-lg font-bold tracking-wider mb-6">
            Enpower your digital leisure travel business
        </div>
        <div class="text-7xl font-bold uppercase mb-6">
            Accelerate your leisure <br> travel business
        </div>
        <div class="text-2xl mb-6 text-muted">
            With the powerful Peakwork Platform
        </div>
        <div class="flex items-center justify-center">
            <a href="" class="text-lg transition-colors border-2 border-primary bg-primary hover:bg-primary/75 rounded-md py-3 px-5 text-white mr-4">Contact an expert</a>
            <a href="" class="text-lg transition-colors border-2 border-primary hover:border-primary/75 rounded-md py-3 px-5 text-primary">Learn more</a>
        </div>
    </div>
</div>