{% for lgg in languages %}
    {% if loop.first %}
        <div class="hidden lg:flex items-center">
    {% endif %}

    {# set translatedUrl to the homepage of that language by default #}
    {% set translatedUrl %}/{{lgg.locale}}/{% endset %}

    {# set current language class #}
    {% set activeClass = "" %}
    {% set activeAria = "" %}
    {% if lgg.locale === locale %}
    {% set activeClass = "hidden" %}
    {% set activeAria = 'aria-current="page"' | safe %}
    {% endif %}

    {# loop through all the content of the site #}
    {% for item in collections.all %}
    {# check matches #}
    {% if item.data.translationKey == translationKey and item.data.locale == lgg.locale %}
        {% set translatedUrl = item.url %}
    {% endif %}
    {% endfor%}

    <a class="font-bold px-4 py-3 rounded-lg mr-2 hover:bg-gray-100 hover:dark:bg-gray-900 {{ activeClass }}" href="{{ translatedUrl }}">{{ lgg.label }}</a>

    {% if loop.last %}

    <a href="" class="button">Contact</a>
    </div>
    

    {% endif %}
{% endfor %}
