{% for lgg in languages %}
    {% if loop.first %}

    <div class="hidden lg:flex items-center">
        <div id="switchTheme" class="md:ml-1 p-2 cursor-pointer hover:bg-gray-100 focus:bg-gray-200 dark:hover:bg-gray-800 dark:focus:bg-gray-800 focus:outline-none rounded-full inline-flex items-center justify-center">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-gray-700 dark:text-gray-200 w-6 h-6 hidden dark:block">
                <path d="M12 3v1m0 16v1m8-9h1M4 12H3m2-7l1 1m12 0l1-1m0 14l-1-1M6 18l-1 1m11-7a4 4 0 11-8 0 4 4 0 018 0z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-gray-700 dark:text-gray-200 w-6 h-6 dark:hidden">
                <path d="M9.353 3C5.849 4.408 3 7.463 3 11.47A9.53 9.53 0 0012.53 21c4.007 0 7.062-2.849 8.47-6.353C8.17 17.065 8.14 8.14 9.353 3z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    {% endif %}

    {# set translatedUrl to the homepage of that language by default #}
    {% set translatedUrl %}/{{lgg.locale}}/{% endset %}

    {# set current language class #}
    {% set activeClass = "" %}
    {% set activeAria = "" %}
    {% if lgg.locale === locale %}
    {% set activeClass = "hidden" %}
    {% set activeAria = 'aria-current="page"' | safe %}
    {% endif %}

    {# loop through all the content of the site #}
    {% for item in collections.all %}
    {# check matches #}
    {% if item.data.translationKey == translationKey and item.data.locale == lgg.locale %}
        {% set translatedUrl = item.url %}
    {% endif %}
    {% endfor%}

    <a class="font-bold px-4 py-3 rounded-lg mr-2 hover:bg-gray-100 hover:dark:bg-gray-900 {{ activeClass }}" href="{{ translatedUrl }}">{{ lgg.label }}</a>

    {% if loop.last %}

    <a href="" class="button">Contact</a>
    </div>
    

    {% endif %}
{% endfor %}
