<nav class="bg-gray-100 dark:bg-gray-700 py-2 hidden lg:block">
    <div class="container px-4 flex items-center">
        <a class="opacity-75 hover:opacity-100 mr-4" href="mailto:info@peakwork.com">E-Mail: info@peakwork.com</a>
        <a class="opacity-75 hover:opacity-100" href="tel:+49 211 91368 500">Tel.: +49 211 91368 500</a>
        <div class="ml-auto">
            {% for social in social %}
            <a class="ml-2 opacity-75 hover:opacity-100" href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                {{ social.label }}
            </a>
            {% endfor %}
        </div>
    </div>
</nav>