<section class="py-8 md:py-16 2xl:py-40 bg-gradient-to-b from-transparent to-primaryLight dark:to-gray-900">
    <div class="container px-4">
        <div class="flex flex-col md:flex-row items-center justify-center">
            <div class="mt-4 md:mt-0 text-center">
                <div class="text-label mb-6">
                    Check out our latest updates
                </div>
                <div class="text-title mb-6 max-w-5xl mx-auto">
                    News & Events
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4 grid grid-cols-12 gap-4">
        <div class="col-span-8">

            <h2 class="text-headline mb-6">Latest news</h2>

            <a href="LINK_TO_ARTICLE" class="block md:flex border border-gray-200 rounded-2xl overflow-hidden hover:bg-gray-100 mb-8">
                <div class="md:w-1/3 flex-shrink-0 order-first md:order-none md:border-r border-gray-200">
                    {% image "./src/images/cover-news.png", "Globe", "", "w-full md:h-full object-cover object-center" %}
                </div>
                <div class="p-8">
                    <div class="mb-4">
                        <span class="text-label mr-4">Press Release</span>
                        <span class="uppercase">2021-October-19</span>
                    </div>
                    <h3 class="text-headline-small md:text-headline">Peakwork: Leisure Travel flight bookings via direct booking connectivity to Lufthansa Group continue to increase</h3>
                </div>
            </a>
            
            <a href="LINK_TO_ARTICLE" class="block md:flex border border-gray-200 rounded-2xl overflow-hidden hover:bg-gray-100 mb-8">
                <div class="md:w-1/3 flex-shrink-0 order-first md:order-none md:border-r border-gray-200">
                    {% image "./src/images/cover-news.png", "Globe", "", "w-full md:h-full object-cover object-center" %}
                </div>
                <div class="p-8">
                    <div class="mb-4">
                        <span class="text-label mr-4">Press Release</span>
                        <span class="uppercase">2021-October-19</span>
                    </div>
                    <h3 class="text-headline-small md:text-headline">Peakwork and Invia expand strategic collaboration: Peakwork sets up live connectivity to Expedia Partner Solutions for Invia</h3>
                </div>
            </a>
            
            <a href="LINK_TO_ARTICLE" class="block md:flex border border-gray-200 rounded-2xl overflow-hidden hover:bg-gray-100 mb-8">
                <div class="md:w-1/3 flex-shrink-0 order-first md:order-none md:border-r border-gray-200">
                    {% image "./src/images/cover-news.png", "Globe", "", "w-full md:h-full object-cover object-center" %}
                </div>
                <div class="p-8">
                    <div class="mb-4">
                        <span class="text-label mr-4">Press Release</span>
                        <span class="uppercase">2021-October-19</span>
                    </div>
                    <h3 class="text-headline-small md:text-headline">Peakwork sets up new technology base for Alpitour Group</h3>
                </div>
            </a>

        </div>

        <div class="col-span-3 col-start-10">
            <h2 class="text-headline mb-6">Events</h2>
        </div>
    </div>
</section>