<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        <div class="text-headline mb-10">
            {{ threeCols_Title }}
        </div>
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center">
                {% image "./src/images/icon-{{ threeCols_First_Icon }}.png", "{{ threeCols_First_Icon_Alt }}", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ threeCols_First_Title }}
                </div>
                <p>
                    {{ threeCols_First_Text }}
                </p>
            </div>
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center">
                {% image "./src/images/icon-{{ threeCols_Second_Icon }}.png", "{{ threeCols_Second_Icon_Alt }}", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ threeCols_Second_Title }}
                </div>
                <p>
                    {{ threeCols_Second_Text }}
                </p>
            </div>
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center">
                {% image "./src/images/icon-{{ threeCols_Third_Icon }}.png", "{{ threeCols_Third_Icon_Alt }}", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ threeCols_Third_Title }}
                </div>
                <p>
                    {{ threeCols_Third_Text }}
                </p>
            </div>
        </div>
    </div>
</section>