<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        <div class="grid grid-cols-12 gap-4">
            {% for x in team %}
                <div class="col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2 shadow-lg dark:bg-gray-800 rounded-md overflow-hidden">
                    <img src="../images/team/{{x.name | slugify }}.png" alt="">
                    <div class="p-4 text-center">
                        <div class="font-bold text-primaryDark text-lg dark:text-white">{{x.name}}</div>
                        <div class="text-sm text-gray-500">{{x.position}}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-4 bg-gray-100 dark:bg-gray-800 rounded-md flex items-center justify-center">
                <div class="p-4 text-center">
                    <div class="font-bold text-primaryDark text-lg dark:text-white">Your name</div>
                    <div class="text-sm text-gray-500 my-4">Our new team member</div>
                    <a href="#" class="button">Join our team</a>
                </div>
            </div>
        </div>
    </div>
</section>