<section class="hero">
    <div class="container px-4">
        <div class="flex flex-col md:flex-row items-center justify-center">
            <div class="mt-4 md:mt-0 text-center">
                <div class="text-label mb-6">
                    {{ translations[locale].hero_Solutions.label }}
                </div>
                <div class="text-title mb-6 max-w-5xl mx-auto">
                    {{ translations[locale].hero_Solutions.title }}
                </div>
                <div class="text-subtitle">
                    {{ translations[locale].hero_Solutions.subtitle }}
                </div>
                <div class="flex items-center justify-center">
                    <a href="" class="button mr-4">{{ translations[locale].general.learnMore }}</a>
                    <a href="" class="button-outline">{{ translations[locale].general.learnMore }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-2/5 flex-shrink-0 order-first md:order-none">
                {% image "./src/images/airport-bags.png", "People carrying bags at airport", "", "w-full h-auto object-cover object-center rounded-2xl shadow-xl" %}
            </div>
            <div class="md:pl-16 mt-8 md:mt-0">
                <div class="text-headline mb-4">
                    Advanced travel technology solutions to boost your leisure travel business
                </div>
                <div class="mb-4 text-muted dark:text-gray-400 font-light leading-6">
                    Powered by our unique Player Hub Technology, the Peakwork platform provides innovative and flexible travel technology solutions for fast, global leisure travel distribution.
                </div>
                <div class="mb-4 text-muted dark:text-gray-400 font-light leading-6">
                    Simply select and activate the components that suit your needs to build your own bespoke solution. This flexible technology also enables users to activate new components as and when the business demands it, so you are always ready with the right tools.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        {% image "./src/images/player-hub-schema.png", "The Player Hub Technology Map", "", "w-full h-auto object-cover object-center" %}
        <div class="md:flex mt-16">
            <div class="flex-shrink-0 md:w-1/2 md:pr-8">
                <div class="text-headline mb-4">
                    {{ translations[locale].technologySchema.title }}
                </div>
                {{ translations[locale].technologySchema.text_1 }}
            </div>
            <div class="flex-shrink-0 md:w-1/2 md:pl-8 mt-8 md:mt-0">
                {{ translations[locale].technologySchema.text_2 }}
            </div>
        </div>
    </div>
</section>

<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        <div class="text-headline text-center mb-10">
            {{ translations[locale].threeCols_Technology.title }}
        </div>
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center md:px-6">
                {% image "./src/images/icon-globe.png", "Icon Globe", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ translations[locale].threeCols_Technology.FirstTitle }}
                </div>
                <p>
                    {{ translations[locale].threeCols_Technology.FirstText }}
                </p>
            </div>
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center md:px-6">
                {% image "./src/images/icon-gears.png", "Icon Globe", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ translations[locale].threeCols_Technology.SecondTitle }}
                </div>
                <p>
                    {{ translations[locale].threeCols_Technology.SecondText }}
                </p>
            </div>
            <div class="col-span-12 lg:col-span-4 flex flex-col items-center text-center md:px-6">
                {% image "./src/images/icon-speedometer.png", "Icon Globe", "", "object-contain w-10 h-10" %}
                <div class="text-headline-small mt-6 mb-2">
                    {{ translations[locale].threeCols_Technology.ThirdTitle }}
                </div>
                <p>
                    {{ translations[locale].threeCols_Technology.ThirdText }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-8 md:py-16 2xl:py-24">
    <div class="container px-4">
        <div class="text-headline text-center mb-10">
            {{ translations[locale].cardRow_Software.title }}
        </div>
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4 border border-gray-200 dark:border-gray-700">
                {% image "./src/images/technology-lock.png", "Icon Globe", "", "object-contain" %}
                <div class="p-6">
                    <div class="text-headline-small mb-4">
                        {{ translations[locale].cardRow_Software.card1title }}
                    </div>
                    <p>
                        {{ translations[locale].cardRow_Software.card1text }}
                    </p>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-4 border border-gray-200 dark:border-gray-700">
                {% image "./src/images/analytics.png", "Charts and numbers shown on a display", "", "object-contain" %}
                <div class="p-6">
                    <div class="text-headline-small mb-4">
                        {{ translations[locale].cardRow_Software.card2title }}
                    </div>
                    <p>
                        {{ translations[locale].cardRow_Software.card2text }}
                    </p>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-4 border border-gray-200 dark:border-gray-700">
                {% image "./src/images/safe-browsing.png", "Person typing on a laptop with a security sign", "", "object-contain" %}
                <div class="p-6">
                    <div class="text-headline-small mb-4">
                        {{ translations[locale].cardRow_Software.card3title }}
                    </div>
                    <p>
                        {{ translations[locale].cardRow_Software.card3text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% set teamExpert = "manuelsaballus" %}
{% set expertService = "accommodations" %}
{% include "section_expert.html" %}