<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" />

  <script src="/js/alpine.js" defer></script>

  <title>{{ title }} - Peakwork</title>
  <meta name="description" content="{{ description }}">

  <!-- Favicons and theme color -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/social/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/social/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/social/favicon-16x16.png">
  <link rel="manifest" href="/images/social/site.webmanifest">
  <link rel="mask-icon" href="/images/social/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.peakwork.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}} - Peakwork">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="/images/social/social.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CaminoFndtn" />
  <meta name="twitter:title" content="{{description}} - Camino">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="/images/social/social.png">
    
</head>

<body class="bg-white text-text dark:bg-gray-900 dark:text-gray-400">
  {% include "header.html" %}
  {% block content %}{% endblock %}
  {% include "footer.html" %}
</body>

</html>