@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Compasse';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('/fonts/Compasse-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Compasse';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/Compasse-Light.woff') format('woff');
}

@font-face {
    font-family: 'Compasse';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/Compasse-Bold.woff') format('woff');
}

.button {
    @apply py-2 px-4 transition-colors border-2 border-primary bg-primary rounded-md text-white hover:bg-primary/75 inline-block
}

.button-outline {
    @apply py-2 px-4 transition-colors border-2 border-primary bg-transparent rounded-md text-primary hover:bg-primary hover:text-white inline-block
}

.text-label {
    @apply text-accent uppercase tracking-widest font-bold
}

.text-title {
    @apply text-primaryDark text-3xl md:text-4xl xl:text-5xl font-bold uppercase dark:text-white
}

.text-subtitle {
    @apply lg:text-2xl mb-6 text-muted dark:text-gray-400 font-light
}

.text-headline {
    @apply uppercase text-primaryDark font-bold text-3xl dark:text-white
}

.text-headline-small  {
    @apply uppercase text-primaryDark font-bold text-xl dark:text-white
}