{% extends "layouts/default.html" %}

{% block content %}

<section class="py-16">
    <div class="container px-4">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:pr-16 mt-8 md:mt-0">
                <div class="text-accent uppercase lg:text-lg font-bold tracking-wider mb-4">
                    News
                </div>
                <div class="text-2xl lg:text-4xl font-bold mb-4">
                    Peakwork: Leisure Travel flight bookings via direct booking connectivity to Lufthansa Group continue to increase
                </div>
                <div class="lg:text-2xl mb-4 text-muted font-light">
                    More and more tour operators are using Peakwork technology for direct flight bookings with the Lufthansa Group. 
                </div>
                <div class="flex items-center">
                    <a href="" class="transition-colors border-2 border-primary bg-primary hover:bg-primary/75 rounded-md py-2 px-4 text-white mr-4">Contact an expert</a>
                    <a href="" class="transition-colors border-2 border-primary hover:border-primary/75 rounded-md py-2 px-4 text-primary">Learn more</a>
                </div>
            </div>
            <div class="md:w-2/5 flex-shrink-0 order-first md:order-none">
                {% image "./src/images/cover-news.png", "Globe", "", "w-full h-auto object-cover object-center rounded-2xl shadow-xl" %}
            </div>
        </div>
    </div>
</section>

{% endblock %}